<div class="alert alert-success">
    <div class="well">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 text-justify">
                <h3 class="text-left">Just a Little About Us</h3>
                <p>We're picking ourselves up by the bootstraps, and learning something new. We've always liked technology, and feel that getting to know Ruby on Rails
                might just be to our benefit, as well as the benefit of those we work with when building web apps. The servers are cloud based and we run them on demand 
                while developing periodically around the clock.</p>
            </div>
            <div class="col-md-3">
                <%= image_tag "new-logo.png", class:"small-logo" %>
            </div>
        </div>
    </div>
</div>
    
